@font-face {
  font-family: 'Archivo Black';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
