<div class="form-container">
  <h1>Welcome Back</h1>
  <p>Don't have an account?<span (click)="goToRegister()">Sign up</span></p>
  <form>
    <div class="credentials">
      <input type="text" placeholder="First Name" pInputText>
      <input type="password" placeholder="Password" pInputText>
    </div>
    <span (click)="forgotPassword()">
      Forgot Password
    </span>
  </form>
  <button pButton id="login">Login</button>
<div class="divider">
  <hr>
  <span>or</span>
  <hr>
</div>
<div class="social-media">
  <button pButton >
    <img src="../../../assets/icons/googleIcon.png" height="25rem" alt="No image">
    Continue with Google
  </button>
  <button pButton >
    <img src="../../../assets/icons/appleIcon.png" height="25rem" alt="No image">
    Continue with Apple
  </button>
</div>
</div>
