.reset-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin-bottom: 1rem;
  }

  input{
    margin-bottom: 1rem;
  }

  button{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  button + button{
    background-color: white;
    color: black;
  }
}
