<div class="reset-container">
  <h1>Reset Password</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat earum ad voluptate repudiandae eos, impedit praesentium eum dolorum atque animi vero, voluptatum sapiente, dolore ab!</p>
  <form>
    <input type="text" placeholder="Your new password" pInputText>
    <input type="text" placeholder="Confirm your new password" pInputText>
    <button pButton >
      Reset Password
    </button>
    <button pButton >
      Back to Login
    </button>
  </form>
</div>
